body {
  font-family: Roboto Condensed;
}
.heading {
  font-size: 2rem !important;
  color: #1f2f69 !important;
  font-weight: bold !important;
}
.sub-heading {
  font-size: 1.3rem !important;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}
.tablehead {
  font-size: 1.2rem !important;
  font-weight: bold !important;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(5, 5, 5, 0.3);
  border: 2px solid #271c69;
}
.card1 {
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}
.card1:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 480px) {
}
